/*	el-n
 * smushed together by Trstn */
@import url("https://overpass-30e2.kxcdn.com/overpass.css");
@import url("https://fonts.cdnfonts.com/css/ia-writer-duospace");
:root {
  --background-color: #f5f5f5;
  --page-links: auto;
  --external-links: auto;
  --links-hover: auto;
  --transitions: all 400ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
  --primary-accent: purple;
  --secondary-accent: blue;
  --tertiary-accent: yellow;
  --sidebar-background: #fefefe;
  --sidebar-font: "Overpass";
  --sidebar-font-weight: 300;
  --sidebar-font-color: #16161D;
  --sidebar-font-size: 16px;
  --main-font: "iA Writer Duospace", sans-serif;
  --main-font-color: auto;
  --main-font-size: 24px;
  --bullet-color: ?;
  --hide-quick-tips: none;
  --divider-line: 1px;
  --second-divider-line: 1px;
  --display-sidebar-icons: none;
  --sidebar-capitals: lowercase;
  --saving-local: #99280f;
  --saving-remote: #d9822b;
  --synced: #0f9960;
}

html, body, #app, .roam-topbar, .bp3-input[type=search] {
  background-color: var(--background-color);
}

.roam-body .roam-app {
  color: #16161D;
}

.roam-body .roam-app .roam-sidebar-container {
  background-color: var(--sidebar-background);
  border-radius: 0 8px 8px 0;
  text-transform: var(--sidebar-capitals);
  transition: var(--transitions);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07), 0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07), 0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07) !important;
}
.roam-body .roam-app .roam-sidebar-container a {
  outline: 0;
}
.roam-body .roam-app .roam-sidebar-container .rm-db-title-container .rm-db-title {
  padding: 8px;
  font-family: var(--sidebar-font);
  font-size: var(--sidebar-font-size);
  color: var(--sidebar-font-color);
}
.roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .top-row {
  padding: 8px 24px;
}
.roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .top-row:hover {
  background-color: transparent;
}
.roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .rm-db-title {
  font-weight: var(--sidebar-font-weight);
}
.roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .rm-db-title .expand-icon {
  padding-left: 8px;
  color: var(--primary-accent);
  font-size: 16px;
  transition: var(--transitions);
}
.roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .rm-db-title .expand-icon:hover {
  filter: brightness(1.75);
}
.roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .log-button {
  padding: 16px 32px;
  font-weight: var(--sidebar-font-weight);
  font-family: var(--sidebar-font);
  font-size: var(--sidebar-font-size);
  color: var(--sidebar-font-color);
}
.roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .log-button:hover {
  background-color: var(--sidebar-background);
  color: var(--sidebar-font-color);
  filter: brightness(0.95);
}
.roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .log-button .bp3-icon {
  display: var(--display-sidebar-icons);
}
.roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .log-button .flex-h-box {
  font-weight: var(--sidebar-font-weight);
  font-family: var(--sidebar-font);
  font-size: var(--sidebar-font-size);
  color: var(--sidebar-font-color);
}
.roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .icon {
  font-size: 16px;
  padding-right: 8px;
  font-weight: 500;
}
.roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .icon.settings {
  font-size: 16px;
}
.roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .starred-pages-wrapper {
  padding: 0 !important;
}
.roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .starred-pages-wrapper .starred-pages .page {
  padding: 16px 32px;
  text-decoration: none;
  font-weight: var(--sidebar-font-weight);
  font-family: var(--sidebar-font);
  font-size: var(--sidebar-font-size);
  color: var(--sidebar-font-color);
}
.roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .starred-pages-wrapper .starred-pages .page:hover {
  background-color: var(--sidebar-background);
  color: var(--sidebar-font-color);
  filter: brightness(0.95);
}
.roam-body .roam-app .roam-sidebar-container .rm-graph-dropdown {
  font-family: var(--sidebar-font);
  font-weight: var(--sidebar-font-weight);
  font-size: 16px;
  background-color: var(--background-color);
  opacity: 100%;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07), 0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07);
}
.roam-body .roam-app .roam-sidebar-container .rm-graph-dropdown a {
  color: #16161D;
}
.roam-body .roam-app .roam-sidebar-container .rm-graph-dropdown .menu-title {
  padding-left: 8px;
  padding-top: 8px;
  color: rgba(22, 22, 29, 0.65);
  font-size: 12px;
}
.roam-body .roam-app .roam-sidebar-container .rm-graph-dropdown .menu-item {
  padding-left: 8px;
  padding-top: 2px;
}
.roam-body .roam-app .roam-sidebar-container .rm-graph-dropdown .setting {
  padding: 4px;
  margin-top: 12px;
  margin-bottom: 6px;
  background-color: #F9E1E4;
}
.roam-body .roam-app .roam-sidebar-container .rm-graph-dropdown .setting:hover {
  background-color: #e6e8fa;
}
.roam-body .roam-app .roam-sidebar-container .rm-graph-dropdown .signout {
  font-size: 12px;
  font-weight: var(--sidebar-font-weight);
  text-align: center;
  margin-bottom: -2px;
  opacity: 80%;
}

div.flex-v-box.starred-pages-wrapper .flex-h-box {
  display: none;
}

.starred-pages-wrapper > div:first-child {
  flex: 0 0 var(--divider-line) !important;
  background-color: var(--primary-accent) !important;
}

.starred-pages-wrapper > div:nth-child(2) {
  flex: 0 0 var(--second-divider-line) !important;
  background-color: var(--secondary-accent) !important;
}

#roam-sidebar-logo {
  display: none;
}

.bp3-popover {
  box-shadow: none;
  margin: 0;
}

.check-container {
  background-color: var(--primary-accent);
  border: none;
}
.search-icon {
  display: none;
}

.rm-find-or-create-wrapper {
  transition: var(--transitions);
}

.bp3-input-group .bp3-input:not(:first-child) {
  padding-left: 10px;
}

input#find-or-create-input {
  border-radius: 8px;
  background: #fefefe;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07) !important;
  transition: var(--transitions);
}
input#find-or-create-input:focus {
  border-radius: 4px 4px 0px 0px;
  background: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07), 0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07), 0 16px 32px rgba(0, 0, 0, 0.07) !important;
}

.rm-find-or-create-wrapper {
  position: relative;
  transition: var(--transitions);
  box-shadow: none;
}
.rm-find-or-create-wrapper .bp3-menu {
  max-height: 600px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07), 0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07);
}
.rm-find-or-create-wrapper .rm-menu-item {
  padding: 1em 1.5em;
  border-radius: 0px;
}
.rm-find-or-create-wrapper .rm-menu-item .rm-search-title {
  font-weight: 400;
  font-family: var(--sidebar-font);
  font-size: var(--sidebar-font-size);
  color: var(--sidebar-font-color);
}
.rm-find-or-create-wrapper .rm-menu-item .rm-search-title .rm-new-page {
  color: var(--secondary-accent);
}
.rm-find-or-create-wrapper .rm-menu-item .rm-search-list-item-title {
  color: #16161D;
  font-size: 12px;
}
.rm-find-or-create-wrapper .rm-menu-item .rm-search-list-item {
  color: var(--sidebar-font-color);
  margin-left: -20px;
}
.rm-find-or-create-wrapper .rm-menu-item:hover {
  background-color: var(--sidebar-background);
  color: var(--sidebar-font-color);
  filter: brightness(0.95);
}

.bp3-button .bp3-icon, .bp3-button .bp3-icon-standard, .bp3-button .bp3-icon-large {
  color: rgba(22, 22, 29, 0.65);
}

.bp3-button[class*=bp3-icon-]::before {
  font-size: 1em;
  color: rgba(22, 22, 29, 0.65);
}

.rm-zoom.zoom-path-view .rm-zoom-mask {
  background-color: var(--background-color);
}

.rm-page-ref-tag, .rm-page-ref-link-color, .rm-ref-page-view-title a, .bp3-text-overflow-ellipsis a, .rm-pages-title-text strong, .rm-page-ref {
  color: var(--primary-accent) !important;
  font-weight: 500;
  transition: var(--transitions);
}

.controls {
  flex: 0 0 36px;
  padding-top: 4px;
  padding-left: 0px;
  margin-right: 5px;
}

.controls .simple-bullet-outer {
  height: 1.5em;
  width: 1.5em;
  margin-top: -1px;
}
.controls .simple-bullet-outer .simple-bullet-inner {
  width: 0.5em;
  height: 0.5em;
  background-color: rgba(22, 22, 29, 0.65);
  transition: var(--transitions);
}
.controls .simple-bullet-outer .simple-bullet-inner:hover {
  background-color: rgba(22, 22, 29, 0.95);
}

.roam-bullet-closed {
  background-color: rgba(22, 22, 29, 0.15);
  transition: var(--transitions);
}
.roam-bullet-closed:hover {
  background-color: rgba(22, 22, 29, 0.075);
}

span.bp3-icon-standard {
  font-size: 16px;
  line-height: 1;
  margin-left: 0px;
  padding-top: 2px;
}

.block-border-left {
  margin-left: 5px;
  border-radius: 0;
  padding-left: 8px;
  padding-bottom: 5px;
}

.rm-saving-icon .rm-saving-inner-icon {
  border-radius: 50%;
  opacity: 1;
  width: 16px;
  height: 16px;
}
.rm-saving-icon .rm-saving-local {
  background-color: var(--saving-local);
}
.rm-saving-icon .rm-saving-remote {
  background-color: var(--saving-remote);
}
.rm-saving-icon .rm-synced {
  background-color: var(--synced);
}

#buffer {
  opacity: 0.5;
  display: var(--hide-quick-tips) !important;
}